secrets:
    # update the postgres db credentials
    db:
        username: <db_username>
        password: pgrdemo123
        flywayUsername: <db_username>
        flywayPassword: pgrdemo123
    # To work Filestore service add the IAM user details which has access on the filestore s3 bucket.
    user:
        username: admin
        password: eGov@123
    # To work egov-enc service add the details
    egov-enc-service:
        master_password: demo
        master_salt: q7.fr.cr
        master_initialvector: 9J&asfgrU-H2
    # To work email notification service add the sms provider details
    egov-notification-mail:
        mailsenderusername: demo@demo
        mailsenderpassword: demo
    # To work sms notification service add the sms provider details
    egov-notification-sms:
        username: demo
        password: demo
    # To work pg service add your respective bank details
    egov-pg-service:
        axis_merchant_accesscode: demo
        axis_merchant_id: demo
        axis_merchant_pwd: demo
        axis_merchant_secretkey: demo
        axis_merchant_user: demo
        payu_merchant_key: demo
        payu_merchant_salt: demo
    # To work Location service add your gmap key
    egov-location:
        gmapskey: jbsdbvxmbsmnx
    # Add finance service details
    egov-si-microservice:
        si-microservice-user: SIFINANCE
        si-microservice-password: eGov@123
        mail-sender-password: demo
    # Add edcr service details
    egov-edcr-notification:
        edcr-mail-username: demo@demo.com
        edcr-mail-password: demo
        edcr-sms-username: demo
        edcr-sms-password: demo
    # Add chatbot details
    chatbot:
        valuefirst-username: demo
        valuefirst-password: demo
    egov-user-chatbot:
        citizen-login-password-otp-fixed-value: "546941"
    kafka:
        clusterID: HshRPdVrWoB4kuTdEbawtq
    elasticsearch:
        password: 8fwbD6HbJh6HU0oddsHm8TEI
    # To work oauth2-proxy service, create and add your github OAuth Apps details
    oauth2-proxy:
        cookieSecret: qwgethjymnbv
        clientSecret: 3a08079easd9d8055470475696fd3baad5292
        clientID: QVbnq0L8npoyfxZs96wtBg==
    # To work pgadmin service add details
    pgadmin:
        admin-email: demo@demo.com
        admin-password: demo
        read-email: demo@demo.com
        read-password: demo
    # To clone the config and mdms repos, Create github user and add your ssh private key below. This private should have access to config and mdms repo.
    git-sync:
        ssh: |-
           -----BEGIN RSA PRIVATE KEY-----
            MIIEowIBAAKCAQEAiqb5YbBrGHmwFjW0ZaDsC+vvdcRXo8qKWtc4dy6Jx//xjKTF
            Ss+29uGXFvJIKajHlwet+sWtbyKzuFeSptc5lN9pN4IMviCfCtES+Tq/XKSAuCNz
            ALiAksK8Op2zxrNGmmm7H9wlBvkaXCHdm2BulHnUDhDp0DBfMGdn6+tGyCVrXSTO
            3zQd8Zu6R1Usmh4n5zpFEfiZEQAB+8tyen0d96bMIAdI8QtJbtDfuonf4CWEqjON
            BloMuxSJdEDaa32934nVDBUGxBybyGS7ropRBUYALTvGKJD73MZHkdDmSfoVkNAC
            4XqC4ZOx+neqsoNFfjUS4YehzGLpCLlOONSbrQIDAQABAoIBACa48UbeHVrNiWb6
            grIrWiEOOGc8eXlt9GvgVY27epFXop8z2UHGdwPGBwtKiOrRj0RXybgSgxhZqbWf
            B37+9r7kEh+Fe4eR1rkPoOvoA0+dRbGnfNPDs2zJZAY+ytmAcgRn6PHB6rli0oDO
            mHRvXxKqX5W6FYKmL7918akKoU798vXlG83mqORRMTMdqlaDHWuTAt/3peG0bNgo
            n27iPPmS5b4l2VBm8bcUp7SDi/lNVPSavwFIOOEs3KUqQ5JLg99oS2Z7id4KVm8Y
            XH0udEoA0kmMMAv44UtOAnfLYKqnSJ6KAQmspw55puc7I/ZupAf5MnNJx153sxpC
            vwxHlaUCgYEAxt15baVVFWe5120JRQSuXRjGb4EgqrAmDnVUV7ZrdEZgjH4G+ZyT
            w71Px/NjqUcmoBaRxoEjaalPBdXY02D84mcR0GBT0UC2AS9/K/eO2L+YudmqDB3P
            c6+rUpYpigtBFB8M5NUJesSnl97LnJPFk0i8+ayLgWqmA1wjg2nM/5MCgYEAsnzX
            2RQg3zxojr70SPw0h/tizllSmOoHhsisEG/C5Cx/7PTSmDm8CrUQ0vJWQEO98tur
            Ax/rAhqg+B1A877Va0UNE/m+8DNhK56+/d322Pv+MrnOUrgt14Gxbg4pETgxCU6z
            3RzL4SwINcog6Xd6igQpnNuUA4J3Sn3NLPCIf78CgYEAi8nbNYvmhylmpVvsDCwC
            NUbZFkB6qgEwfzFSnGWKmy1taNSeKpA5/nnwvukDwVZWfGnhBtx3/CobdkqgI9Yl
            bTBugT91K76FMcglaM6YBxyHSv0KX4IE9ZkioOcVRAgtMuuwsJpgE4BxHnxqPCJT
            2/hhflAfsFU7ZVk7TYDtrSkCgYALKz7Cibzo2znbvN1Cd+29mKB9Mx+1C+f+qi4C
            NUwnxRUYOdW3yt0WenAcEygMi3CmctKHtoaZMhtii0oWNpnaRY7k8hrdowlwllVz
            Q2GAAHzOpcvgZ0APHUGCFobBWhfPckpVCslDROMaopRep6hWXJ5R/3eKpK5cTfT5
            2+9etwKBgG/szKLHm2JH+9Kwm1J4ReUR6jjg6bjZ6IIFAu5xPYi8qjXz7cQc+2TX
            iUageqw3do2ZcquQpD2VnwejrS/l6UAp+4/r4bo97OXakcjeNRaTPb0DfTezr534
            UNBhl5q9XOaxUPN8Y9xWxvFgITXnNqqdt+fr1rd/NBSC6I8aV8WX
            -----END RSA PRIVATE KEY-----
        known_hosts: github.com ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCj7ndNxQowgcQnjshcLrqPEiiphnt+VTTvDP6mHBL9j1aNUkY4Ue1gvwnGLVlOhGeYrnZaMgRK6+PKCUXaDbC7qtbW8gIkhL7aGCsOr/C56SJMy/BCZfxd1nWzAOxSDPgVsmerOBYfNqltV9/hWCqBywINIR+5dIg6JTJ72pcEpEjcYgXkE2YEFXV1JHnsKgbLWNlhScqb2UmyRkQyytRLtL+38TGxkxCflmO+5Z8CSSNY7GidjMIZ7Q4zMjA2n1nGrlTDkzwDCsw+wqFPGQA179cnfGWOWRVruj16z6XyvxvjJwbz0wQZ75XK5tKSb7FNyeIEs4TT4jk+S4dhPeAUC5y+bDYirYgM4GC7uEnztnZyaVWQ7B381AK4Qdrwt51ZqExKbQpTUNn+EjqoTwvqNj4kqx5QUCI0ThS/YkOxJCXmPUWZbhjpCg56i+2aB6CmK2JGhn57K5mj0MNdBXA4/WnwH6XoPWJzK5Nyu2zB3nAZp+S5hpQs+p1vN1/wsjk=
    grafana:
        clientID: cdabbaabcdefghi
        clientSecret: 8292723f0e1d596d234abc123def456
    alertmanager:
        config:
            global:
                slack_api_url: <slack_api_url>
                resolve_timeout: 5m
            route:
                group_by:
                    - alertname
                group_wait: 30s
                receiver: slack-notification
                group_interval: 5m
                repeat_interval: 10m
                routes:
                    - receiver: slack-notification
                      match_re:
                          severity: warning|critical
                      continue: true
                    - receiver: email-notification
                      match:
                          severity: critical
            receivers:
                - name: slack-notification
                  slack_configs:
                      - channel: '<slack-channel>'
                        send_resolved: true
                        username: Alertmanager
                        title: |
                            [{{ .Status | toUpper }}{{ if eq .Status "firing" }}:{{ .Alerts.Firing | len }}{{ end }}] {{ .CommonLabels.alertname }}
                        text: |-
                            {{ range .Alerts -}}
                            {{- "\n" -}}
                            *Alert:* {{ .Annotations.summary }}
                            {{ if .Labels.severity }}*Severity:* `{{ .Labels.severity }}`{{ end }}
                            *Cluster:* {{ .Labels.cluster }}
                            *Details:*
                            {{ .Annotations.description }}
                            {{ end }}
                        color: |-
                            {{ if eq .Status "firing" -}}
                              {{ if eq .CommonLabels.severity "warning" -}}
                                warning
                              {{- else if eq .CommonLabels.severity "critical" -}}
                                danger
                              {{- else -}}
                                #439FE0
                              {{- end -}}
                            {{ else -}}
                              good
                            {{- end }}
                - name: email-notification
                  email_configs:
                      - to: <to_email>
                        from: <from_email>
                        smarthost: <smtp_host>
                        auth_username: <smtp_username>
                        auth_password: <smtp_password>
                        send_resolved: true
                        headers:
                            subject: |
                                [{{ .Status | toUpper }}{{ if eq .Status "firing" }}:{{ .Alerts.Firing | len }}{{ end }}] {{ .CommonLabels.cluster }} - {{ .CommonLabels.alertname }}
                        html: |-
                            <html>
                            <head>
                            <title>Alert!</title>
                            </head>
                            <body>
                            {{ range .Alerts }}
                            <ul>
                            <li> <b>Alert Name:</b> {{ .Labels.alertname }} </li>
                            <li> <b>Severity:</b> {{ if eq .Labels.severity "critical" }}<b style="color:red;">CRITICAL</b>{{ else if eq .Labels.severity "warning" }}<b style="color:orange;">WARNING</b>{{ else }}<b>{{ .Labels.severity | toUpper }}</b>{{ end }} </li>
                            <li> <b>Summary:-</b> {{ .Annotations.summary }} </li>
                            <li> <b>Cluster:-</b> {{ .Labels.cluster }} </li>
                            <li> <b>Details:</b>
                              <p style="margin-left: 20px; white-space: pre-wrap;"> {{ .Annotations.description }} </p>
                            </li>
                            </ul><br>
                            {{ end }}
                            </body></html>
